<div class="wrapper">
    <mat-toolbar class="main">


        <div class="logo">
            <img src="../../../assets/images/symbol.png" />
        </div>
        
    
    
    
    
    
        <!--  routerLink is used as a part of RoutingModule, to tell Angular to use Angular routing instead of default browser routing, and navigate to /pizza-maker WITHOUT REFRESHING the page  -->
        <a mat-button id="main-text" href="#fix">Our challenges</a>
        <a mat-button id="main-text" href="#linktopwb">Products</a>
        <a mat-button id="main-text" href="#linktowyg">What you get</a>
        <a mat-button id="main-textt" href="#linkto">Get in touch </a>
    
    </mat-toolbar>

</div>




<!-- mat-toolbar: https://material.angular.io/components/toolbar/overview -->
<!-- mat-icon-button, mat-icon: https://material.angular.io/components/icon/overview -->
<!-- mat-button: https://material.angular.io/components/button/overview -->