<div class="wrapper">
    <div class="ilustration">
        <div>
            <h1 class="title">
                We're changing the way emergency response unfolds
            </h1>
            <p class="subtitle">
                Welcome to a new era where we redefine emergency response. Our innovative solutions, from cutting-edge
                CAD systems to comprehensive RMS, empower agencies to navigate complexities seamlessly. With a focus on
                real-time precision and seamless integration, we're shaping the future of incident management

            </p>
        </div>



    </div>
    <div class="cher">
        <div>
            <h2 id="fix" class="title" >
                Challenges in Emergency Response
            </h2>
            <p  class="subtitle">
                Factors Affecting Speed, Efficiency, and Precision in Emergency Response.
            </p>
        </div>
        <div id="grandChild1" >
            <div class="igc1">
                <img  src="../../../assets/images/navigation-pointer-off-01.png" alt="img">

            </div>
            
            <h4 id="gc1">
                Location Inaccuracy
            </h4>
            <p id="grandChild1p">
                Over 30% of calls lack precise caller location, leaving uncertainty about the exact whereabouts.
            </p>
        </div>
        <div id="grandChild2" >
            <div class="igc2">
                <img src="../../../assets/images/credit-card-x.png" alt="img">
            </div>
            
            <h4 id="gc2">
                Dispatcher Fatugue
            </h4>
            <p id="grandChild2p">
                Every municipality in the nation struggles with high costs and turnover.
            </p>
        </div>
        <div id="grandChild3" >
            <div class="igc3">
                <img src="../../../assets/images/phone-hang-up.png" alt="img">
            </div>
            <h4 id="gc3">
                Communication Interrupt
            </h4>
            <p id="grandChild3p">
                No direct, continuous communication exists among responder and caller.
            </p>
        </div>
        <div id="grandChild4" >
            <div class="igc4">
                <img src="../../../assets/images/route.png" alt="img">
            </div>
            
            <h4 id="gc4">
                Call Routing
            </h4>
            <p id="grandChild4p">
                Multiple inter-agency transfers per emergency slow down response times.

            </p>
        </div>
        <div id="grandChild5" >
            <div class="igc5">
                <img src="../../../assets/images/annotation-dots.png" alt="img" >
            </div>
            <h4 id="gc5">
                Lingual Latencies
            </h4>
            <p id="grandChild5p">
                Faulty translations in cross-cultural calls can be life-threatening, leading to critical errors.

            </p>
        </div>
        <div id="grandChild6" >
            <div class="igc5">
                <img src="../../../assets/images/folder-plus.png" alt="img">
            </div>
            <h4 id="gc6">
                Medical information
            </h4>
            <p id="grandChild6p">
                EMS responders are short on callers’ medical history, allergies, contacts, etc.

            </p>
        </div>

    </div>
    <div class="rectangle">
        <div class="firstdiv">
            <h3>
                What we do
            </h3>
            <p>
                We built a centralized, three-sided application that aggregates, connects, and tracks. This dedicated
                tool enables Municipalities, First Responders, and users to swiftly request, send, or coordinate
                emergency responses, fostering seamless communication and information sharing with responders.
            </p>
        </div>
        <button id="btn">
            <a id="btncolor" href="#linkto">Get in touch</a>
        </button>
        <div class="seconddiv">
            <h3>
                How we do it
            </h3>
            <p>
                HelpTapp harnesses advanced technologies and AI at both consumer and emergency responder levels,
                supported by cloud-based account management, a scalable infrastructure, real-time updates, and
                integration with cutting-edge technologies.
            </p>
        </div>



    </div>

    <div class="ourproducts">
        <h5 class="pwb" id="linktopwb">PRODUCTS WE'VE BUILD</h5>

        <div class="box">
            <h3 id="titleh3">
                Computer-Aided Dispatch
            </h3>
            <p id="titlep">
                Our Computer-Aided Dispatch (CAD) solution revolutionizes emergency response
                management, serving as a dynamicreal-time command and control process.
                Designed to streamline information tracking and management related to calls and units,
                CAD plays a pivotal role in enhancing the efficiency of emergency response systems.
            </p>
            <div id="child1" class="mini-box">
                <p id="child1p">
                    Achieve <strong id="strong">real-time precision,</strong> receiving instant
                    updates on calls and unit status for swift and accurate data management.
                </p>
            </div>
            <div id="child2" class="mini-box">
                <p id="child2p">
                    Enhance cross-agency collaboration for <strong id="strong">
                        seamless communication between
                        police, fire, and EMS,
                    </strong> improving overall response effectiveness.
                </p>
            </div>
            <div id="child3" class="mini-box">
                <p id="child3p">
                    Adapts to your evolving needs for <strong id="strong"> seamless scalability and
                        flexibility,</strong>
                    coordinating multiple agencies and locations.
                </p>
            </div>
            <div id="child4" class="mini-box">
                <img src="../../../assets/images/Rectangle_66.png" alt="picture">
            </div>
            <div id="child5" class="mini-box">
                <p id="child5p">Our robust system ensures <strong id="strong">continuity,</strong> offering
                    <strong id="strong"> reliability</strong> for your agency, especially in challenging scenarios.
                </p>
            </div>
            <div id="child6" class="mini-box">
                <p id="child6p">Embrace <strong id="strong"> cost-efficient technology</strong> without compromising
                    performance.</p>
            </div>
            <div id="child7">
                <img class="img-responsive" src="../../../assets/images/image_block.jpg" alt="image">

            </div>


        </div>

        <div class="box">
            <h3 id="titleh3">Records Management System</h3>
            <p id="titlep">
                RMS is your comprehensive solution for incident documentation. It goes beyond merely recording events;
                it captures and organizes crucial incident-related data with meticulous detail.
                From names and addresses to vehicle information and stolen property items, RMS ensures nothing is
                overlooked.
            </p>
            <div id="child8" class="mini-box">
                <img src="../../../assets/images/Rectangle_66_1.png" alt="img">
            </div>
            <div id="child9" class="mini-box">
                <p id="child9p">
                    Empower officers to <strong id="strong">capture detailed incident data</strong> at the scene,
                    ensuring a robust and accurate record of parties, vehicles, and property.
                </p>
            </div>
            <div id="child10" class="mini-box">
                <p id="child10p">
                    RMS <strong id="strong">seamlessly integrates for compliance</strong>, improving nationwide incident reporting and enhancing data accuracy.
                </p>
                

            </div>
            <div id="child11" class="mini-box">
                <p id="child11p">
                    Our system captures precise, detailed data for a <strong id="strong">more accurate and comprehensive incident representation.</strong>

                </p>
            </div>
            <div id="child12" class="mini-box">
                <p id="child12p">
                    Streamline reporting with RMS for a <strong id="strong"> smoother workflow.</strong>

                </p>
            </div>
            <div id="child13" class="mini-box">
                <p id="child13p">
                    RMS <strong id="strong"> organizes data for quick retrieval</strong>, improving record-keeping efficiency.

                </p>
            </div>
            <div id="child14" >
                <img src="../../../assets/images/Rectangle_69.png" alt="">
            </div>
            

        </div>
    </div>

    <div class="whatuget">
        <h5  class="pwb" id="linktowyg">WHAT YOU GET</h5>
        <h2 class="cmr"> Call Management and Routing</h2>
        <div class="divw">
          
            <p class="wyg">
                <img id="imgcheck" src="../../../assets/images/check-circle-broken.jpg" alt="img">
                Personalize notification by call severity
            </p>
        </div>
        
        <div class="divw">
            
            <p class="wyg" id="ruth">
                <img id="imgcheck" src="../../../assets/images/check-circle-broken.jpg" alt="img">
                Reassign units to higher priority
            </p>
        </div>
        
        <div class="divw" >
          
            <p class="wyg" id="ruth1">
                <img id="imgcheck" src="../../../assets/images/check-circle-broken.jpg" alt="img">
                Receive system warnings to avoid collisions
            </p>
        </div>
        <div class="section1">
            <section >
                <p id="subtitle" class="sectionp"> Adaptable Customization </p>
                <p id="subtitle" class="sectionp"> Ease of use </p>
                <p id="subtitle" class="sectionp"> Resource Tracking and Mutual Aid </p>
                <p id="subtitle" class="sectionp"> Communication Features </p>

                <h4 id="cmrd">
                    Call Management and Routing
                </h4>
                <p id="subtitle" class="sectionp"> Collaborative Tools </p>
                <p id="subtitle" class="sectionp"> Total Situational Awareness </p>
                <p id="subtitle" class="sectionp"> Time-Sensitive Availability</p>
                <p id="subtitle" class="sectionp"> Efficient Call Assignment Acknowledgment</p>
                <p id="subtitle" class="sectionp"> Visual References for Preparation</p>
                <p id="subtitle" class="sectionp">Built-In Translator for Inclusive Communication</p>
                

            </section>
           
        </div>

    </div>
    <div class="git">
        <h5 id="linkto" class="pwb" >
          
            GET IN TOUCH
        </h5>
        <h2 id="lt"> 
            Let's talk 
        </h2>

        <p class="subtitle" id="rms">
            RMS is your comprehensive solution for incident documentation. It goes beyond merely recording events; it captures and organizes
            crucial incident-relatad data
        </p>
    </div>
    <div class="label">
        <form action="">
            <p>
                Full name
            </p>
            <input id="inputfn" type="text">
            <label for="fullname"></label>
            <p>
                Email address
            </p>
            <input id="inputfn" type="text">
            <label for="email"></label>
            <p >
                Message
            </p>
            <input id="inputmsg" type="text">
            <label for="message"></label>
            

        </form>
        <button id="btn1" type="submit">Submit</button>
       
    </div>
   
    <footer>
        helptapp.com © 2023. All rights reserved. 
        <p class="footerr">hello&#64;helptapp.com</p> 
       
    </footer>
   
    


</div>